<%- include('partials/header'); -%>
<div class="home">
<h1> Welcome to Flipr </h1>
<p> We provide Stock Data APIs and much more...
  So Hop in to explore!!
</p>
<a class='home-button' href="/register">Register</a>
<a class='home-button' href="/signin">Sign In</a>
</div>

<%- include('partials/footer'); -%>
